body{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden; /*evita a barra de rolagem indesejada!*/
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  transform: translateX(-20%);
  z-index: -1; /* Manda o elemento para trás */
}

.container{
    display: flex;
    position: relative;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

/*.color{
    position: fixed;
    background: linear-gradient(-50deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    width: 400px;
    height: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}*/

.mobile{
    background-color: white;
    position: absolute;
    width: 300px;
    padding: 10px;
    background-color: hsl(270, 20%, 96%);
    top: 30px;
    left: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.head img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

.head{
    background: linear-gradient(-50deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

#circle{
    
}

.head .previous{
    width: 20px;
    height: 20px;
}

.profileData{
    flex: 1; /*ocupa o espaço do meio*/
}

.profileData h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.profileData p {
  margin: 0;
  font-size: 10px;
  color: hsl(276, 100%, 81%); 
}

h1{
    font-weight: 700;
}
#text{
    color: black;
    margin-top: 15%;
    margin-left: 60%;
    margin-right: 5%;    
}

#images{
    display: flex;
    justify-content: end;
}

.image img{
    width: 60px;
    margin: 5px;
    border-radius: 10px;

}

/*.messageLeft{
    border-radius: 10px;
    background-color: hsl(240, 100%, 95%);
    padding: 10px;
    margin: 10px;
    width: 190px;
    color: hsl(271, 36%, 24%);

}

.messageRigth{
    border-radius: 10px;
    background-color: hsl(270, 20%, 96%);
    color: hsl(271, 36%, 24%);
    padding: 10px;
    margin: 10px;
    width: 190px;
    position: relative;
    left: 80px;
}*/

#messages {
  display: flex;
  flex-direction: column; /* Para as mensagens se empilharem */
  padding: 10px;
  gap: 8px;
}

.messageRigth {
  background-color: hsl(270, 20%, 96%);
  border-radius: 10px 10px 3px 10px; /* Ajuste os cantos para combinar com o design */
  padding: 8px 12px;
  max-width: 60%; /* Impede que a mensagem ocupe 100% da largura */
  align-self: flex-end; /* Alinha a mensagem à direita */
}

.messageLeft {
  background-color: hsl(271, 20%, 94%); /* Cor mais clara */
  border-radius: 10px 10px 10px 3px;
  padding: 8px 12px;
  max-width: 60%;
  align-self: flex-start; /* Alinha a mensagem à esquerda */
}
.messageDiferent{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(-50deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: bolder;
}

.messageDiferent > span{
    font-size: 18px;
}

#messageBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 10px;
}
#next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: hsl(271, 36%, 24%);
    border-radius: 50%;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
   
}

.radio-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10px;
}

#next img{
    /*margin-left: 11.5px;*/
    width: 15px;
    height: 15px;
    object-fit: contain;
}

/*@media only screen and (min-width: 600px) {
    .container{
        display: block;
    }

    .color{
        position: fixed;
        background: linear-gradient(-50deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
        width: 350px;
        height: 450px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    
    }

    .mobile{
        background-color: white;
        position: absolute;
        width: 200px;
        padding: 10px;
        background-color: hsl(270, 20%, 96%);
        top: 30px;
        left: 350px;
        border-radius: 15px 15px 15px 15px;
    }
    
}*/