body{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -10%;
  width: 600px;
  height: 700px;
  /*width: 40%;
  height: 80%;*/
  background: linear-gradient(to bottom, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translateX(-20%);
  z-index: -1; /* Manda o elemento para trás */
}
body::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px; 
    height: 500px; 
    background: hsl(270, 20%, 96%); 
    border-top-left-radius: 50%; 
    border-top-right-radius: 50%; 
    transform: translate(20%, 20%); 
    z-index: -1;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    gap: 100px;
    /*padding: 80px;*/
}


.mobile{
    background-color: white;
    position: relative;
    width: 280px;
    padding: 10px;
    background-color: hsl(270, 20%, 96%);
    left: 350px;
    top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: contain;
}

.head img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

.head{
    background: linear-gradient(-50deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.head .previous{
    width: 20px;
    height: 20px;
}

.profileData{
    flex: 1; /*ocupa o espaço do meio*/
}

.profileData h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.profileData p {
  margin: 0;
  font-size: 10px;
  color: hsl(276, 100%, 81%); 
}

h1{
    font-weight: 700;
}
#text{
    color: black;
    margin-left: 60%;
    margin-right: 10%;
    max-width: 1000px;
   /* margin: 20px auto; 
    align-items: center;*/
}

#images{
    display: flex;
    justify-content: end;
}

.image img{
    width: 60px;
    margin: 5px;
    border-radius: 10px;

}

#messages {
  display: flex;
  flex-direction: column;
  padding: 7px;
  gap: 8px;
}

.messageRigth {
  background-color: hsl(270, 20%, 96%);
  border-radius: 10px 10px 3px 10px; /* Ajuste os cantos para combinar com o design */
  padding: 8px 12px;
  align-self: flex-end; 
  font-size: 10px;
}

.messageLeft {
  background-color: hsl(271, 20%, 94%); /* Cor mais clara */
  border-radius: 10px 10px 10px 3px;
  padding: 8px 12px;
  align-self: flex-start; /* Alinha a mensagem à esquerda */
  font-size: 10px;
}
.messageDiferent{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(-50deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: 10px;
    
}

.messageLeft .messageRigth .messageDiferent{
    width: 70%;
}

.messageDiferent > span{
    font-size: 9px;  
}

#messageBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 13px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 10px;
    font-size: 10px;
}
#next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-color: hsl(271, 36%, 24%);
    border-radius: 50%;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
   
}

.radio-circle {
  width: 11.5px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10px;
}

#next img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

    .mobile{
       width: 300px;
       left: 0;
       top: 10px;
       padding: 5px;
    }

    #text{
        margin-left: 0;
        margin-top: 5%;
        font-size: 1rem;

    }
    
}